li {
  list-style: none;
  cursor: pointer;
}

span {
  background-color: greenyellow;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  font-weight: 900;
  cursor: pointer;
}
